python-telegram-bot==20.3  # Укажите точную версию, используемую в проекте
feedparser>=6.0.11        # Последняя стабильная версия      
python-dotenv==1.0.0       # Для работы с .env файлами
dateparser>=1.0.0          # Для парсинга дат
beautifulsoup4==4.12.3
aiohttp>=3.8.5