python-telegram-bot==20.3  # Укажите точную версию, используемую в проекте
feedparser==6.0.10         # Последняя стабильная версия
requests==2.31.0           # Для работы с HTTP-запросами
python-dotenv==1.0.0       # Для работы с .env файлами
fastapi==0.68.2            # Для создания API
uvicorn==0.15.0            # Для запуска API